/**
 * @name Everforest Dark Medium
 * @description Everforest Dark Medium for Discord (new UI update)
 * @author adapted from shved. / original Gruvbox
 * @version 0.0.1
 * @website https://github.com/sainnhe/everforest
*/
* {
--ef-dark-bg-hard: 30, 35, 38;          /* um pouco mais escuro que #232A2E */
--ef-dark-bg: 30, 35, 38;
--ef-dark-bg-alt: 30, 35, 38;
--ef-dark-bg-soft: 52, 63, 68;          /* #343F44 - bg1 */
--ef-dark-bg1: 61, 72, 77;              /* #3D484D - bg2 */
--ef-dark-bg2: 71, 82, 88;              /* #475258 - bg3 */
--ef-dark-bg3: 79, 88, 94;              /* #4F585E - bg4 */
--ef-dark-bg4: 86, 99, 95;              /* #56635F - bg5 */

--ef-dark-fg-hard: 211, 198, 170;       /* #D3C6AA - fg */
--ef-dark-fg: 211, 198, 170;            /* #D3C6AA */
--ef-dark-fg1: 157, 169, 160;           /* #9DA9A0 - grey2 */
--ef-dark-fg2: 133, 146, 137;           /* #859289 - grey1 */
--ef-dark-fg3: 122, 132, 120;           /* #7A8478 - grey0 */

--ef-dark-purple-dark: 214, 153, 182;   /* #D699B6 */
--ef-dark-purple-light: 214, 153, 182;
--ef-dark-yellow-dark: 219, 188, 127;   /* #DBBC7F */
--ef-dark-yellow-light: 219, 188, 127;
--ef-dark-red-dark: 230, 126, 128;      /* #E67E80 */
--ef-dark-red-light: 230, 126, 128;
--ef-dark-orange-dark: 230, 152, 117;   /* #E69875 */
--ef-dark-orange-light: 230, 152, 117;
--ef-dark-blue-dark: 127, 187, 179;     /* #7FBBB3 */
--ef-dark-blue-light: 127, 187, 179;
--ef-dark-green-dark: 167, 192, 128;    /* #A7C080 */
--ef-dark-green-light: 167, 192, 128;
--ef-dark-aqua-dark: 131, 192, 146;     /* #83C092 */
--ef-dark-aqua-light: 131, 192, 146;
--ef-dark-gray-dark: 122, 132, 120;
--ef-dark-gray-light: 133, 146, 137;

/* ============================================================== */
--ef-dark-text-hard: var(--ef-dark-fg-hard);
--ef-dark-text-primary: var(--ef-dark-fg);
--ef-dark-text-secondary: var(--ef-dark-fg1);
--ef-dark-text-tertiary: var(--ef-dark-fg2);
--ef-dark-text-muted: var(--ef-dark-fg3);
--ef-dark-text-danger: var(--ef-dark-red-light);
--ef-dark-text-inverted-hard: var(--ef-dark-text-hard);
--ef-dark-text-inverted: var(--ef-dark-bg);
--ef-dark-background-positive: var(--ef-dark-green-dark);
--ef-dark-accent: var(--ef-dark-green-light);
--ef-dark-accent-hover: var(--ef-dark-green-dark);
--ef-dark-icon-color: var(--ef-dark-fg2);
--ef-dark-icon-color-hover: var(--ef-dark-fg);
--ef-dark-icon-color-hover-harder: var(--ef-dark-fg-hard);
--ef-dark-icon-color-muted: var(--ef-dark-fg3);
--ef-dark-link-color: var(--ef-dark-blue-light);
--ef-dark-border-default: var(--ef-dark-bg2);
--ef-dark-border-hover: var(--ef-dark-bg3);
--ef-dark-button-color-default: var(--ef-dark-accent);
--ef-dark-button-color-hover: rgba(var(--ef-dark-button-color-default), 0.7);
--ef-dark-button-text-default: var(--ef-dark-bg);
--ef-dark-button-text-dark: var(--ef-dark-text-primary);
--ef-dark-button-text-dark-muted: var(--ef-dark-text-muted);
--ef-dark-button-alt-default: var(--ef-dark-bg-soft);
--ef-dark-button-alt-hover: var(--ef-dark-bg);
--ef-dark-button-positive-default: var(--ef-dark-green-dark);
--ef-dark-button-positive-hover: rgba(var(--ef-dark-green-dark), 0.8);
--ef-dark-input-box-background: var(--ef-dark-bg-soft);
--ef-dark-scrollbar-color: var(--ef-dark-bg3);
--ef-dark-scrollbar-background: transparent;
--ef-dark-selected-tab: var(--ef-dark-bg1);
--ef-dark-status-online: var(--ef-dark-green-dark);
--ef-dark-status-offline: var(--ef-dark-text-muted);
--ef-dark-status-idle: rgba(var(--ef-dark-accent), 0.8);
--ef-dark-status-dnd: var(--ef-dark-red-dark);
--vc-spotify-green: rgba(var(--ef-dark-green-dark));
--vc-spotify-green-90: rgba(var(--ef-dark-green-dark), 0.2);
--vc-spotify-green-80: rgba(var(--ef-dark-green-dark), 0.3);
}

.visual-refresh.theme-dark,
.visual-refresh .theme-dark,
[class*=vc-membercount-total],
.visual-refresh,
.theme-dark {
--__header-bar-background: rgba(var(--ef-dark-bg-hard));
--autocomplete-bg: rgba(var(--ef-dark-bg));
--background-primary: rgba(var(--ef-dark-bg));
--background-secondary: rgba(var(--ef-dark-bg-alt));
--background-secondary-alt: rgba(var(--ef-dark-bg-soft));
--background-tertiary: rgba(var(--ef-dark-bg-soft));
--background-base-lower: rgba(var(--ef-dark-bg));
--background-base-low: rgba(var(--ef-dark-bg));
--background-base-lowest: rgba(var(--ef-dark-bg-hard));
--background-floating: rgba(var(--ef-dark-bg-hard));
--background-surface-high: rgba(var(--ef-dark-bg-soft));
--background-surface-higher: rgba(var(--ef-dark-bg));
--background-surface-highest: rgba(var(--ef-dark-bg));
--background-feedback-critical: rgba(var(--ef-dark-red-dark), 0.08);
--background-feedback-positive: rgba(var(--ef-dark-green-dark), 0.08);
--background-modifier-accent: rgba(var(--ef-dark-border-default));
--background-modifier-selected: rgba(var(--ef-dark-selected-tab));
--background-mentioned: rgba(var(--ef-dark-accent), 0.1);
--background-mentioned-hover: rgba(var(--ef-dark-accent), 0.15);
--background-message-automod: rgba(var(--ef-dark-accent), 0.1);
--background-message-automod-hover: rgba(var(--ef-dark-accent), 0.15);
--background-accent: rgba(var(--ef-dark-bg1));
--bg-base-primary: rgba(var(--ef-dark-bg));
--bg-base-secondary: rgba(var(--ef-dark-bg));
--bg-base-tertiary: rgba(var(--ef-dark-bg-hard));
--bg-surface-overlay: rgba(var(--ef-dark-bg));
--card-primary-bg: rgba(var(--ef-dark-bg-hard));
--bg-brand: rgba(var(--ef-dark-accent), 0.8);
--bg-mod-faint: rgba(var(--ef-dark-bg-soft));
--bg-mod-strong: rgba(var(--ef-dark-bg2));
--bg-mod-subtle: rgba(var(--ef-dark-bg1));
--border-normal: rgba(var(--ef-dark-border-default));
--border-strong: rgba(var(--ef-dark-border-default));
--border-faint: rgba(var(--ef-dark-border-default));
--border-subtle: rgba(var(--ef-dark-border-default));
--background-message-hover: rgba(var(--ef-dark-bg1));
--text-primary: rgba(var(--ef-dark-fg-hard));
--text-normal: rgba(var(--ef-dark-fg));
--text-default: rgba(var(--ef-dark-fg));
--text-secondary: rgba(var(--ef-dark-fg1));
--text-tertiary: rgba(var(--ef-dark-fg2));
--text-positive: rgba(var(--ef-dark-green-dark));
--chat-text-muted: var(--text-tertiary);
--embed-title: rgba(var(--ef-dark-text-hard));
--text-link: rgba(var(--ef-dark-link-color));
--text-muted: rgba(var(--ef-dark-text-muted));
--text-brand: rgba(var(--ef-dark-accent));
--text-muted-on-default: rgba(var(--ef-dark-text-muted));
--text-feedback-positive: rgba(var(--ef-dark-green-dark));
--text-code-comment: rgba(var(--ef-dark-gray-light));
--text-code-default: rgba(var(--ef-dark-blue-light));
--text-code-keyword: rgba(var(--ef-dark-purple-light));
--text-code-variable: rgba(var(--ef-dark-blue-light));
--text-code-builtin: rgba(var(--ef-dark-purple-light));
--text-code-string: rgba(var(--ef-dark-aqua-light));
--header-primary: rgba(var(--ef-dark-text-primary));
--header-secondary: rgba(var(--ef-dark-text-tertiary));
--header-muted: rgba(var(--ef-dark-text-muted));
--checkbox-border-default: rgba(var(--ef-dark-border-default));
--checkbox-border-checked: rgba(var(--ef-dark-border-default));
--checkbox-background-default: rgba(var(--ef-dark-bg-soft));
--checkbox-background-checked: rgba(var(--ef-dark-background-positive));
--channel-icon: rgba(var(--ef-dark-icon-color));
--channels-default: rgba(var(--ef-dark-fg3));
--custom-notice-background: rgba(var(--ef-dark-green-dark));
--custom-notice-text: rgba(var(--ef-dark-text-hard));
--notice-background-positive: rgba(var(--ef-dark-green-dark));
--notice-background-warning: rgba(var(--ef-dark-yellow-dark), 0.8);
--notice-background-critical: rgba(var(--ef-dark-red-dark));
--notice-text-positive: rgba(var(--ef-dark-text-inverted-hard));
--link-color: rgba(var(--ef-dark-blue-dark));
--icon-primary: rgba(var(--ef-dark-icon-color));
--icon-secondary: rgba(var(--ef-dark-icon-color));
--icon-tertiary: rgba(var(--ef-dark-icon-color));
--icon-default: rgba(var(--ef-dark-icon-color));
--icon-muted: rgba(var(--ef-dark-icon-color-muted));
--input-background: rgba(var(--ef-dark-input-box-background));
--input-border: rgba(var(--ef-dark-border-default));
--input-placeholder-text: rgba(var(--ef-dark-text-tertiary));
--modal-background: rgba(var(--ef-dark-bg-hard));
--modal-footer-background: rgba(var(--ef-dark-bg));
--mention-foreground: rgba(var(--ef-dark-fg-hard));
--mention-background: rgba(var(--ef-dark-bg2));
--scrollbar-auto-thumb: rgba(var(--ef-dark-scrollbar-color));
--scrollbar-auto-track: rgba(var(--ef-dark-scrollbar-background));
--scrollbar-thin-thumb: rgba(var(--ef-dark-scrollbar-color));
--scrollbar-auto-scrollbar-color-thumb: rgba(var(--ef-dark-scrollbar-color));
--scrollbar-auto-scrollbar-color-track: rgba(var(--ef-dark-scrollbar-color));
--button-filled-brand-text: rgba(var(--ef-dark-button-text-default));
--button-filled-brand-border: rgba(var(--ef-dark-button-color-default));
--button-filled-brand-background: rgba(var(--ef-dark-button-color-default));
--button-filled-brand-background-active: rgba(var(--ef-dark-button-color-default));
--button-filled-brand-background-hover: var(--ef-dark-button-color-hover);
--button-danger-background: rgba(var(--ef-dark-red-dark));
--button-danger-background-active: rgba(var(--ef-dark-red-light));
--button-danger-background-disabled: rgba(var(--ef-dark-red-dark), 0.8);
--button-danger-background-hover: rgba(var(--ef-dark-red-dark), 0.7);
--button-danger-border: rgba(var(--ef-dark-red-dark));
--button-outline-danger-background: rgba(var(--ef-dark-button-alt-default));
--button-outline-danger-background-hover: rgba(var(--ef-dark-button-alt-hover));
--button-outline-danger-border: rgba(var(--ef-dark-border-default));
--button-outline-danger-border-hover: rgba(var(--ef-dark-border-default));
--button-outline-danger-text: rgba(var(--ef-dark-button-text-dark-muted));
--button-outline-danger-text-hover: rgba(var(--ef-dark-text-danger));
--button-outline-positive-text: rgba(var(--ef-dark-text-primary));
--button-positive-background: rgba(var(--ef-dark-button-positive-default));
--button-positive-background-hover: var(--ef-dark-button-positive-hover);
--button-positive-background-active: rgba(var(--ef-dark-button-positive-default));
--button-positive-background-disabled: rgba(var(--ef-dark-green-dark));
--button-positive-border: rgba(var(--ef-dark-button-positive-default));
--button-secondary-background: rgba(var(--ef-dark-bg-soft));
--button-secondary-background-hover: rgba(var(--ef-dark-bg));
--button-secondary-text: rgba(var(--ef-dark-button-text-dark-muted));
--button-transparent-background: rgba(var(--ef-dark-button-alt-default));
--button-transparent-background-hover: rgba(var(--ef-dark-button-alt-hover));
--button-transparent-text: rgba(var(--ef-dark-button-text-dark));
--primary-630: rgba(var(--ef-dark-button-alt-default));
--primary-700: rgba(var(--ef-dark-button-alt-hover));
--background-code: rgba(var(--ef-dark-bg-hard));
--status-online: rgba(var(--ef-dark-status-online));
--status-offline: rgba(var(--ef-dark-status-offline));
--status-idle: var(--ef-dark-status-idle);
--status-dnd: rgba(var(--ef-dark-status-dnd));
--status-positive: rgba(var(--ef-dark-green-dark));
--status-positive-background: rgba(var(--ef-dark-green-dark));
--status-positive-text: rgba(var(--ef-dark-text-inverted-hard));
--status-danger: rgba(var(--ef-dark-red-dark));
--status-danger-background: rgba(var(--ef-dark-red-dark));
--status-danger-text: rgba(var(--ef-dark-text-primary));
--status-warning: rgba(var(--ef-dark-orange-dark));
--status-warning-background: rgba(var(--ef-dark-orange-dark));
--status-warning-text: rgba(var(--ef-dark-text-inverted-hard));
--status-speaking: rgba(var(--ef-dark-green-light));
--info-danger-background: rgba(var(--ef-dark-red-dark), 0.08);
--info-danger-text: rgba(var(--ef-dark-red-light));
--info-help-foreground: rgba(var(--ef-dark-blue-light));
--info-help-background: rgba(var(--ef-dark-blue-dark), 0.1);
--info-positive-background: rgba(var(--ef-dark-green-dark), 0.08);
--info-positive-text: rgba(var(--ef-dark-green-light));
--info-warning-background: rgba(var(--ef-dark-orange-dark), 0.08);
--info-warning-text: rgba(var(--ef-dark-text-primary));
--background-mod-normal: rgba(var(--ef-dark-selected-tab));
--background-mod-strong: rgba(var(--ef-dark-bg2));
--background-mod-subtle: rgba(var(--ef-dark-bg-soft));
--interactive-normal: rgba(var(--ef-dark-icon-color));
--interactive-hover: rgba(var(--ef-dark-icon-color-hover-harder));
--interactive-active: rgba(var(--ef-dark-icon-color-hover-harder));
--interactive-muted: rgba(var(--ef-dark-bg3));
--message-reacted-text: rgba(var(--ef-dark-text-hard));
--message-reacted-background: rgba(var(--ef-dark-accent), 0.1);
--background-message-highlight: rgba(var(--ef-dark-accent), 0.1);
--background-message-highlight-hover: rgba(var(--ef-dark-accent), 0.15);
--spoiler-hidden-background: rgba(var(--ef-dark-bg2));
--spoiler-hidden-background-hover: rgba(var(--ef-dark-bg3));
--chat-background-default: rgba(var(--ef-dark-bg-soft));
--premium-nitro-pink-text: rgba(var(--ef-dark-purple-light));
--guild-boosting-pink: rgba(var(--ef-dark-purple-light));
--spine-default: rgba(var(--ef-dark-bg4));
--app-border-frame: rgba(var(--ef-dark-border-default));
--twitch: rgba(var(--ef-dark-purple-dark));
--opacity-blurple-12: rgba(var(--ef-dark-bg));
--custom-store-colors-premium-gradient: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--custom-premium-colors-premium-gradient-tier-0: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--custom-premium-colors-premium-gradient-tier-1: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--custom-premium-colors-premium-gradient-tier-2: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--custom-premium-colors-premium-gradient-tier-2-transparent: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark), 0.3), rgba(var(--ef-dark-purple-light), 0.3));
--custom-premium-colors-premium-gradient-tier-2-diagonal: linear-gradient(45deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--custom-premium-colors-premium-gradient-tier-2-tri-color: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)), rgba(var(--ef-dark-purple-dark)));
--custom-premium-colors-premium-gradient-tier-2-tri-color-reverse: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)), rgba(var(--ef-dark-purple-dark)));
--custom-premium-colors-premium-gradient-tier-2-tri-color-vertical: linear-gradient(0deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)), rgba(var(--ef-dark-purple-dark)));
--custom-premium-colors-premium-gradient-tier-2-old: linear-gradient(90deg, rgba(var(--ef-dark-purple-dark)), rgba(var(--ef-dark-purple-light)));
--premium-nitro-pink-dark: rgba(var(--ef-dark-purple-dark));
--premium-nitro-pink-light: rgba(var(--ef-dark-purple-light));
--premium-perk-blue: rgba(var(--ef-dark-blue-dark));
--premium-perk-blue-alt: rgba(var(--ef-dark-blue-dark));
--premium-perk-dark-blue: rgba(var(--ef-dark-blue-dark));
--brand-260: rgba(var(--ef-dark-accent-hover), 0.8);
--brand-360: rgba(var(--ef-dark-accent));
--brand-500: rgba(var(--ef-dark-accent-hover), 0.8);
--brand-05: rgba(var(--ef-dark-accent-hover), 0.2);
--white-500: rgba(var(--ef-dark-text-hard));
--blurple-50: rgba(var(--ef-dark-accent));
--green-300: rgba(var(--ef-dark-green-dark));
--green-360: rgba(var(--ef-dark-green-dark));
--color-total: rgba(var(--ef-dark-text-muted));
--primary-300: rgba(var(--ef-dark-text-hard));
--primary-500: rgba(var(--ef-dark-bg1));
--white: rgba(var(--ef-dark-text-hard));
--badge-brand-text: rgba(var(--ef-dark-text-inverted));
--badge-brand-bg: rgba(var(--ef-dark-accent-hover), 0.8);
--redesign-button-positive-background: rgba(var(--ef-dark-green-dark));
--redesign-button-positive-pressed-background: rgba(var(--ef-dark-green-dark), 0.8);
--redesign-button-positive-text: rgba(var(--ef-dark-text-hard));
--redesign-button-overlay-alpha-text: rgba(var(--ef-dark-text-hard));
--redesign-button-overlay-alpha-background: rgba(0, 0, 0, 0.3);
--user-profile-overlay-background: rgba(var(--ef-dark-bg));
/* hasty fix for new update*/
--text-strong: var(--text-primary);
--icon-strong: var(--text-strong);
--interactive-text-hover: var(--text-strong);
--interactive-text-active: var(--text-strong);
--interactive-text-default: var(--text-normal);
--icon-subtle: var(--text-strong);
--mobile-text-heading-primary: var(--text-strong);
--control-secondary-text-default: var(--text-secondary);
--control-secondary-text-hover: var(--text-secondary);
--text-subtle: var(--text-muted);
}

.visual-refresh .textBadge__2b1f5 {
color: rgb(var(--ef-dark-text-inverted)) !important
}

/* Invite button inside call box */
.buttonColor__7b3e8 {
color: rgba(var(--ef-dark-text-primary))
}
.theme-dark .button_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
background-color: rgba(var(--ef-dark-button-positive-default), 0.1)
}
.theme-dark .button_e131a9.buttonColor_e131a9.buttonActive_e131a9:hover {
background-color: rgba(var(--ef-dark-button-positive-default), 0.2)
}

/* Input / Output Volume slider (context menu) */
:where(.visual-refresh) .mini_a562c8 .grabber_a562c8, :where(.visual-refresh) .slider_a562c8 .grabber_a562c8 {
background-color: rgba(var(--ef-dark-text-primary))
}
[class*=notches_] {
background-color: rgba(var(--ef-dark-bg3))
}
[class^=control_] [class*=checked_],
#vc-spotify-player [class*=barFill_] {
  background-color: rgba(var(--ef-dark-accent-hover), 0.8) !important;
}
.slider__87bf1 > rect {
fill: rgba(var(--ef-dark-text-hard));
}
.slider__87bf1 svg > path {
fill: rgba(var(--ef-dark-bg))
}
.container__87bf1 {
background-color: rgba(var(--ef-dark-bg2)) !important
}
.checked__87bf1 {
    background-color: rgba(var(--ef-dark-yellow-dark)) !important;
}

/* "Share your screen" button */
.theme-dark [class*="experimentButton_"][class*="buttonColor_"][class*="buttonActive_"] {
background-color: rgba(var(--ef-dark-green-dark), 0.2);
border: 1px solid rgba(var(--ef-dark-green-dark), 0.25);
}
.theme-dark [class*="experimentButton_"][class*="buttonColor_"][class*="buttonActive_"]:hover {
background-color: rgba(var(--ef-dark-green-dark), 0.4);
border: 1px solid rgba(var(--ef-dark-green-dark), 0.3);
}

/* call container bg */
[class^=callContainer],
[class^=callContainer] [class^=scroller_] {
  background-color: rgba(var(--ef-dark-bg-hard));
}

/* Room preview animation */
.gradientBackground__11664 {
background: rgba(var(--ef-dark-bg)) !important
}
.backgroundDark__11664 {
background: rgba(var(--ef-dark-bg)) !important
}
.foregroundRing__11664 {
background: rgba(var(--ef-dark-accent-hover), 0.3) !important
}
.foregroundBase__11664 {
background: rgba(var(--ef-dark-accent-hover), 1) !important
}

/* Online statuses */
[mask^="url(#svg-mask-status-online"] {
  fill: rgba(var(--ef-dark-status-online));
}
[mask^="url(#svg-mask-status-dnd"] {
  fill: rgba(var(--ef-dark-status-dnd));
}
[mask^="url(#svg-mask-status-idle"] {
  fill: var(--ef-dark-status-idle);
}
[mask^="url(#svg-mask-status-offline"] {
  fill: rgba(var(--ef-dark-status-offline));
}
[class^=avatarWrapper_] {
  [aria-label*=online i] svg > svg > rect {
    fill: rgba(var(--ef-dark-status-online)) !important;
  }
}
[class^=avatarWrapper_] {
  [aria-label*=idle i] svg > svg > rect {
    fill: rgba(var(--ef-dark-status-idle)) !important;
  }
}
[class^=avatarWrapper_] {
  [aria-label*=dnd i] svg > svg > rect {
    fill: rgba(var(--ef-dark-status-dnd)) !important;
  }
}
[class^=avatarWrapper_] {
  [aria-label*=invisible i] svg > svg > rect {
    fill: rgba(var(--ef-dark-status-offline)) !important;
  }
}
rect[fill="#43a25a"] {
    fill: var(--status-online);
}
rect[fill="#ca9654"] {
    fill: var(--status-idle);
}
rect[fill="#d83a42"] {
    fill: var(--status-dnd);
}
rect[fill="#82838b"] {
    fill: var(--status-offline);
}
div.status_a423bd {
    background-color: var(--status-online) !important;
}

/* Screenshare icon */
.icon_c9d15c > path {
fill: rgba(var(--ef-dark-accent))
}
[class^=callContainer] [class^=root] {
  background-color: rgba(var(--ef-dark-bg-hard)) !important
}
.flex__7c0ba .lineClamp1__4bd52 {
color: rgba(var(--ef-dark-text-hard)) !important
}

/* Vesktop plugins / themes */
.vc-addon-card {
border: 1px solid rgba(var(--ef-dark-border-default))
}

/* Use solid background for banners in the "Discover" category */
.theme-dark .gradientOverlay_e9ef78,
.theme-dark .bannerGradient__955a3 {
background-color: rgba(var(--ef-dark-bg));
border-bottom: 1px solid rgba(var(--ef-dark-border-hover))
}

/* Share your screen / Stop stream / change windows / ets bottom button inside call window */
[class^="colorable_"][class*="greenGlow_"] {
background-color: rgba(var(--ef-dark-green-dark), 0.2);
}
[class^="colorable_"][class*="greenGlow_"]:hover,
[class^="colorable_"][class*="greenGlow_"][class*="popoutOpen_"] {
background-color: rgba(var(--ef-dark-green-dark), 0.4);
}

/* Add right border for left section */
.visual-refresh .sidebarList_c48ade {
border-right: 1px solid rgba(var(--ef-dark-border-default))
}

/* N new messages */
.newMessagesBar__0f481 {
background-color: rgba(var(--ef-dark-bg-soft));
color: rgba(var(--ef-dark-text-primary))
}
.visual-refresh .barButtonAlt__0f481:hover {
background-color: transparent
}

.custom-profile-theme.theme-dark [class*=themeColor i][class*=secondary i] {
background-color: rgba(var(--ef-dark-button-alt-default))
}
.custom-profile-theme.theme-dark [class*=themeColor i][class*=secondary i]:hover {
background-color: rgba(var(--ef-dark-button-alt-hover))
}
.visual-refresh .section__00943 {
background-color: rgba(var(--ef-dark-bg))
}
:where(.visual-refresh) .lookFilled__201d5.colorPrimary__201d5,
:where(.visual-refresh) .medium_a45028 .inner_a45028 {
background-color: rgba(var(--ef-dark-bg))
}
.menuOverlay_af7fb7,
.card__39ec2 {
background-color: rgba(var(--ef-dark-bg))
}

/* Background tweaks to fix Discord's inconsistent styling */
.connection_c7f964,
.connectContainer_c7f964,
.appDetailsContainer__50a54 {
    background-color: rgba(var(--ef-dark-bg-soft));
border: 1px solid rgba(var(--ef-dark-border-default))
}
.background__1fed1,
.background__1fed1 > .fieldList__1fed1 {
    background-color: var(--user-profile-overlay-background);
}
.badgeList__1fed1 {
    background-color: transparent;
}

/* Hovering over gifs would cause them to go blank */
.result__2dc39:after {
    content: normal;
}

/* Contrast for some action buttons was too high, so.. */
[class^="actionMenuButton_"] {
background-color: rgba(var(--ef-dark-bg-soft));
border: 1px solid rgba(var(--ef-dark-border-default));
border-radius: 12px
}
[class^="actionMenuButton_"]:hover {
background-color: rgba(var(--ef-dark-bg));
border: 1px solid rgba(var(--ef-dark-border-hover));
}
.visual-refresh .searchBar__35e86 {
border: none !important
}

/* Add border to account overview */
[class^=accountProfileCard__] {
border: 1px solid rgba(var(--ef-dark-border-default));
}
[class^=accountProfileCard__] {
box-shadow: 0 0 5px black !important
}
[class^=accountProfileCard__]:hover {
box-shadow: 0 0 10px black !important
}
.visual-refresh [class^=box_],
[class^=appDetailsContainer],
[class^=connectionOptionsWrapper] {
background-color: var(--background-base-low) !important
}

/* Make all titlebars the same */
.visual-refresh .title_f75fb {
background-color: rgba(var(--ef-dark-bg-hard)) !important
}

/* Remove bottom border for server title section */
.visual-refresh [class^=header_] {
border-bottom: none !important
}

/* ==== Nuked elements ==== */
/* Quests banner */
.wrapper__0d616 {
display: none !important
}
